// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/scss/aqua';

// Override variables here

@import '~nativescript-theme-core/scss/index';

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling


Page{
  font-size: 14;
}

// Fonts
.fa {
	font-family: "fontawesome-webfont";
}

.ion {
	font-family: "ionicons";
}

.center-all {
  vertical-align: center;
  horizontal-align: center;
}
.center-v {
  vertical-align: center;
}
.center-h {
  horizontal-align: center;
}

.profile {
  border-width: 1;
  border-color: white;
  background-color: green;
  border-radius: 50%;
  margin-right: 15;
  margin-left: 10;
  width: 40;
  height: 40;
}

.line-card {
  border: 0;
  height: 6;
  background-color: #bdbdbd;
}
.lineBreak {
	height: 7;
	border: none;
	color: #e0e0e0;
	background-color: #e0e0e0;
}
